<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Sygic</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }

      #map-info {
        /*visibility: hidden;*/
        float: left;
        left: 10px;
        top: 10px;
        position: absolute;
        background-color: #fefefe;
        border: 2px solid #dddddd;
        padding: 10px 20px;
        font-family: 'Helvetica Neue', 'Arial';
      }

      #map-info p {
        margin: 5px;
      }

      .info-value {
        font-weight: bold
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.easing.js"></script>
    <script src="/js/marker.animate.js"></script>
    <script src="/js/sliding-marker.js"></script>
    <script>

    function zeroPad(num) {
      var n = String(num);
      if (n.length == 1) {
        n = "0" + n;
      }

      return n;
    }

    function formatDateTime1(dateTime) {
      return dateTime.getHours() + "h " + zeroPad(dateTime.getMinutes()) + "m " + zeroPad(dateTime.getSeconds()) + "s";
    }

    function formatDateTime2(dateTime) {
      return dateTime.getHours() + ":" + zeroPad(dateTime.getMinutes()) + ":" + zeroPad(dateTime.getSeconds());
    }

    function seconds2time (seconds) {
        var hours   = Math.floor(seconds / 3600);
        var minutes = Math.floor((seconds - (hours * 3600)) / 60);
        var seconds = seconds - (hours * 3600) - (minutes * 60);
        var time = "";

        if (hours != 0) {
          time = hours+"h ";
        }
        if (minutes != 0 || time !== "") {
          minutes = (minutes < 10 && time !== "") ? "0"+minutes : String(minutes);
          time += minutes+"m ";
        }
        if (time === "") {
          time = seconds+"s";
        }

        return time;
    }

    var map, marker;

    function initialize() {
      var mapOptions = {
        zoom: 13,
        draggable: false,
      }
      map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

      marker = new google.maps.Marker({
          map: map,
          title: '<%= @token %>'
      });

      function getLastLocation() {
        $.getJSON( "/lastLocation/<%= @token %>", function( data ) {
          latLon = new google.maps.LatLng(data.lat, data.lon);
          pushPos(latLon);

          $('#speed').text(data.speed + " km/h");
          
          var remainingInSeconds = parseInt(data.targettime);
          if (remainingInSeconds > 0)
          {
            $('#remaining-container, #eta-container').css('display', 'block');

            var now = Math.round((new Date()).getTime() / 1000);
            var etaInSeconds = now + remainingInSeconds;
            var etaDate = new Date(etaInSeconds * 1000);

            $('#remaining').text(seconds2time(remainingInSeconds));          
            $('#eta').text(formatDateTime2(etaDate));

          } else {
            $('#remaining-container, #eta-container').css('display', 'none');
          }

          var lastUpdatedTimestamp = data.time * 1000;
          var lastUpdatedDateTime = new Date(lastUpdatedTimestamp);
          $('#updated').text(formatDateTime2(lastUpdatedDateTime));
          
          setTimeout(getLastLocation, 5000);
        });
      }

      setInterval(function()
      {
        if ( typeof(coordLast) == "undefined" )
          return;
      
        var vect = {lat: coordNow.lat() - coordLast.lat(), lon: coordNow.lng() - coordLast.lng()};
        var curTime = (new Date()).getTime();
        var k = (curTime - lastAcq)/5000;
      
        var result = new google.maps.LatLng(coordLast.lat() + k*vect.lat, coordLast.lng() + k*vect.lon);
        marker.setPosition(result);
        map.panTo(result);
      
      }, 100);
      getLastLocation();
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    
    var coordNow, coordLast, lastAcq;
    function pushPos(lalo)
    {
      if ( typeof(coordLast) == "undefined" )
      {
        coordLast = lalo;
        coordNow = lalo;
      }
      coordLast = coordNow;
      coordNow = lalo;
      lastAcq = (new Date()).getTime();
    }

    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
    <div id="map-info">
      <p id="speed-container">Speed: <span id="speed" class="info-value">--</span></p>      
      <p id="remaining-container">Remaining: <span id="remaining" class="info-value">--</span></p>
      <p id="eta-container">ETA: <span id="eta" class="info-value">--</span></p>
      <p id="updated-container">Updated at: <span id="updated" class="info-value">--</span></p>
    </div>
  </body>
</html>